.education {
    margin: 1rem auto;
    padding: 1rem;
    /* border: .4rem solid;
    border-color: rgb(147, 79, 22); */
    transition: all 0.2s;
    height: 4rem;
    box-shadow: 1rem;
    background-color: rgba(81, 4, 136, 0.535);
}

.institution {
    font-size: 19px;
    color: orange;
}

.field {
    color: white;
}

