.all_skills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}

h6 {
  align-items: center;
  font-size: 13px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

p {
  align-items: center;
  font-size: 15px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
