.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.info-card-container {
  margin: auto;
}

.floating-object {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: wiggle 5s infinite ease-in-out; /* Adjust the duration and animation timing as needed */
}

/* Create the wiggling animation */
@keyframes wiggle {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
}

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}
